<section class="modal-box">

<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
  

            <div class="modal-title">
                <h4 class="modal-title text-center">New User</h4>
            </div>
            <div class="modal-body">
                <div class="form-group modal-input">
                    <label for="newUserName">New User Name:</label>
                    <input id="newUserName" type="text" ng-model="text">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success"  ng-disabled="text === ''" ng-click="ok()">Create User Name</button>
            </div>

        </div>
    </div>
</div>

</section>

